@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
body {
  background: #E9EDF0;
  margin: 0;
  font-family: 'Rubik';
}

.text {
  margin: 0em .9em 2em 0em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #728AB7;
}

.text h1 {
  font-size: 4em;
  margin: 0;
  max-width: 4em;
}

.text p {
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
  max-width: 15em;
}

.information {
  margin: auto;
  margin-top: 9em;
}

img {
  display: none;
}

.field {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 65px;
  margin: auto;
}

input {
  width: 15em;
  height: 65px;
  padding-left: 25px;
  padding-right: 0;
  outline: none;
  border: none;
  font-size: 18px;
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  color: #a3a2a2;
  border-radius: 40px;
  -webkit-box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
          box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
}

input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff73;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff73;
}

input:valid ~ label {
  opacity: 0;
}

::-webkit-input-placeholder {
  font-family: Rubik;
  opacity: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: none;
}

:-ms-input-placeholder {
  font-family: Rubik;
  opacity: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: none;
}

::-ms-input-placeholder {
  font-family: Rubik;
  opacity: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: none;
}

::placeholder {
  font-family: Rubik;
  opacity: 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: none;
}

button {
  margin-top: 1em;
  height: 65px;
  padding: 0;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: 0.02em;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #728AB7;
  -webkit-box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
          box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
}

button:active {
  color: #728AB7;
  -webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
          box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

@media only screen and (min-width: 1000px) {
  .information {
    margin: auto;
    padding-right: 5em;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content img {
    padding: 0;
    height: auto;
    height: 100vh;
    width: 60%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 1190px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}
/*# sourceMappingURL=styles.css.map */