<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/static/css/styles.css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Politician Profiler</title>
  </head>
  <body>
    <div class="content">
    <img src="/static/images/AVATARZ - Steve Jobs.png">
    <div class="information">
    <div class="text">
        <h1>Politician Profiler</h1>
        <p>Застосунок для аналізу іміджу політика і створення політичного профілю</p>
    </div>
    <div class="field">
        <input type="text" required placeholder="Ім'я Прізвище" onfocus="this.placeholder=''" onblur="this.placeholder = 'Ім\'я Прізвище'">
        <button>Аналізувати</button>
    </div>
    </div>
    </div>
        
  </body>
</html>
